<%= render "layouts/headerad" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center bg-light">

<h1>Registrar un nuevo cliente</h1>

<%= render 'form', duenio: @duenio %>

<%= link_to 'atras', duenios_path %>
</div>


