 <%= render "layouts/header" %>

<div class="container text-center">
<br>
<br>
<br>
<br>
<h1>Registre a la mascota</h1>
<p> Este proceso no le tomara mas de 5 mins y solo necesitaremos unos datos de usted y del doctor</p>
<%= render 'form', mascotum: @mascotum %>

<%= link_to 'Back', mascota_path %>
</div>