 <%= render "layouts/header" %>
 <div class="card text-white" style="width: 100%;">
        <img class="card-img-top" src="happy-dog-running.jpg" alt="Card image cap">
        <div class="card-img-overlay">
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-1" style="font-family:monaco;">Veterinaria M&A</h1>
            <h3 class="card-text">Haremos a tu mascota más feliz</p>
        </div>
</div>
<div class="container">
    <%= render "layouts/flash_messages" %>
    <div class="text-center">
    <h1 class="display-3" href="#promos">Promociones</h1>
    <div class="card-group">
    <div class="card">
        <img src="/perro-gato-en-casa-1-t.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Los mejores amigos</h5>
        <p class="card-text">Sabemos que las mascotas son lo más preciado para ti, y más cuando se trata de una pareja de perro y gato.</p>
        <p class="card-text">Al traernos un gato y un perro podra solicitar la promoción "mejores amigos" en la cual la revisión del perro sera totalmente gratuito</p>
        <p class="card-text"><small class="text-muted">*No aplica en razas grandes como American Pitbull, Gran Danes, San bernardo y Pastor Aleman</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/vacapdte.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">El amigo más grande</h5>
        <p class="card-text">En M&A queremos que su ganado se encuentre saludable y feliz</p>
        <p class="card-text">Al traer un animal de crianza se le aplicara un 25% de descuento en su compra, y si trae más de 3 se aplicara un 50% de descuento en cualquier tratamiento</p>
        <p class="card-text"><small class="text-muted">*No aplica en pagos con tarjeta de credito</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/cachorros-de-labrador.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">La familia es primero</h5>
        <p class="card-text">Nada nos emociona tanto como el nacimiento de unos cachorritos.</p>
        <p class="card-text">Al traernos una camada de perros o gatos recien nacidos se aplicara un 30% de descuento en el costo final de todos los tratamientos</p>
        <p class="card-text"><small class="text-muted">*No aplica en pagos con tarjeta de credito</small></p>
        </div>
    </div>
    </div>
    </div>
    <div class="text-center">
        <h1 class="display-3" href="#ab">Acerca de Nosotros</h1>
        <div class="row">
            <div class="col-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.3630261456356!2d-99.17373118536649!3d19.778307534660698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18a696ed2008b%3A0xde3fd27c7caccbd6!2sGran%20Canal%2C%20Sta%20Maria%20Caliacac%2C%20Teoloyucan%2C%20M%C3%A9x.!5e1!3m2!1ses!2smx!4v1574542772325!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>            </div>
            <div class="col-4">
            <div class="card mb-3">
                <img src="https://media.timeout.com/images/102055851/630/472/image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ubicacion</h5>
                    <p class="card-text">Nos encontramos ubicados en:
                    Gran Canal,
                    Sta Maria Caliacac,
                    Teoloyucan, Méx.</p>
                    
                </div>
            </div>
            </div>
        </div>
        <div class="row">
    <div class="col">
      <h1 class="display-4" href="#ab">Misión</h1>
      <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>La calidad en la atenci&oacute;n que ofrecemos a nuestros pacientes y la b&uacute;squeda de mejoras en el tratamiento y prevenci&oacute;n de la salud, son los ejes de nuestra filosof&iacute;a:</p>
<ul>
<li>Ofrecer a nuestros pacientes el mejor tratamiento m&eacute;dico, trato humano y excelencia en el servicio.</li>
</ul>
<ul>
<li>La efectividad de las actuaciones profesionales como principal compromiso.</li>
</ul>
<ul>
<li>Ser l&iacute;deres en el sector veterinario con servicios mejores y diferenciados.</li>
</ul>
<ul>
<li>Asegurar la innovaci&oacute;n tecnol&oacute;gica y cient&iacute;fica. </li>
</ul>
<ul>
<li>Mantener la voluntad constante de mejora de los servicios prestados.</li>
</ul>
<ul>
<li>La dotaci&oacute;n de todas las unidades m&eacute;dicas con tecnolog&iacute;a de &uacute;ltima generaci&oacute;n que permita aplicar m&eacute;todos poco invasivos.</li>
</ul>
<ul>
<li>Desarrollar la medicina preventiva como uno de los puntales en los que basar la calidad de vida de nuestros pacientes.</li>
</ul>
<ul>
<li>La organizaci&oacute;n de programas de educaci&oacute;n sanitaria y divulgaci&oacute;n cient&iacute;fica dirigidos tanto al p&uacute;blico en general como al colectivo veterinario.</li>
</ul>
<ul>
<li>La satisfacci&oacute;n y el orgullo corporativo de los profesionales de la organizaci&oacute;n.</li>
</ul>
<ul>
<li>Trabajar para mejorar el bienestar animal, defendiendo sus derechos y evit&aacute;ndoles cualquier tipo de sufrimiento.</li>
</ul>
<ul>
<li>Preocuparnos por nuestra contribuci&oacute;n al bienestar de nuestra gente y al progreso de la sociedad.</li>
</ul>
<ul>
<li>Implicarnos en la preservaci&oacute;n del entorno natural y del medio ambiente.</li>
</ul>
<p>&nbsp;</p> 
<p>&nbsp;</p> 

            </blockquote>
        </div>
        </div>
    </div>
    <div class="col">
      <h1 class="display-4" href="#ab">Visión</h1>
      <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Ser Un Centro de Atención Médica Veterinaria que trascienda en la localidad y sus fronteras por la calidad en los servicios vanguardistas que proporciona; logrados a través de la disciplina, el trabajo, el esfuerzo y la paciencia, para ejercer el liderazgo necesario en la asistencia médica, docencia e investigación, que apoyado por equipo tecnológico de punta, permita lograr la satisfacción de los pacientes, su familia y la Sociedad.</p>
            </blockquote>
        </div>
        </div>
        <div class="card">
        <div class="card-header">
            Nuestros valores
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <ul>
<li>            Honestidad: Enaltecemos la calidad humana al comprometernos con los clientes a expresarnos con coherencia y autenticidad, diciendo siempre la verdad como una prueba de congruencia entre lo que pensamos, decimos y hacemos.</li>
</ul>
<ul>
<li>Lealtad : Comprometidos con nuestros clientes, no les daremos la espalda , bajo ninguna circunstancia, fomentando lazos de amistad, fidelidad y gratitud en pro de nuestros pacientes y su bienestar.<br>
</li>
</ul>
<ul>
<li>Justicia: Nuestros acciones y decisiones, se basan en cumplir las normas establecidas que en común acuerdo se han determinado como adecuadas y equilibradas por la ley y la sociedad, sin buscar un beneficio particular, si no mutuo; y nos sometemos al juicio social y legal para transmitir una percepción justa y equilibrada, que confirme nuestros valores.<br>
</li>
</ul>
<ul>
<li>Compromiso: Dispuestos a cumplir como una obligación los acuerdos ofrecidos en un contrato no escrito que busca satisfacción y confianza en nosotros.<br>
 </li>
</ul>
<ul>
<li>Humildad: Cualidad cimentada en la modestia, que busca enaltecer todas las virtudes o valores de nuestra filosofía, consientes que sin ésta, ninguna de las otras se manifiesta, procuramos en ésta una discreción que mejore cotidianamente nuestro ser.<br>
</li>
</ul>





            </blockquote>
        </div>
        </div>
    </div>
  </div>
    </div>


    
</div>
